---
import Layout from '../layouts/BaseLayout.astro';
---
<Layout>
  <section class="section-block">
    <h1>degdp</h1>
    <div class="text-box">degdp: This is a project I did in collaboration with Elaine, under the guidance of Enzo with KTP's project committee!</div>
  </section>
</Layout>
