---
import Layout from '../layouts/BaseLayout.astro';
---
<Layout>
  <section class="section-block">
    <h1>i-ching</h1>
    <div class="text-box">
      <p>This is a project I did in collaboration with Elaine, under the guidance of Enzo with KTP's project committee.</p>
      <a class="project-link" href="https://ako-saka.github.io/I-Ching.github.io/" target="_blank" rel="noopener">Visit i-ching Project</a>
    </div>
  </section>
</Layout>
