---
import Layout from '../layouts/BaseLayout.astro';
---
<Layout>
  <section class="section-block">
    <h1>Project 3</h1>
    <div class="text-box">Project 3 details coming soon.</div>
  </section>
</Layout>
