---
import Layout from '../layouts/BaseLayout.astro';
---
<Layout>
  <section class="section-block">
    <h1>Project 6</h1>
    <div class="text-box">Project 6 details coming soon.</div>
  </section>
</Layout>
